<div class="content">
  <h3>Search : </h3><br>
  <form novalidate #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm.value)">
      <div class="form-group">
        <input id="searchdata" class="form-control" name="searchdata" ngModel #searchdata="ngModel">
      </div>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="searchRadios" ngModel #searchRadios="ngModel" id="searchRadios1" value="option1" checked>
          <label class="form-check-label" for="searchRadio1">
            Employee Id
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="searchRadios" ngModel #searchRadios="ngModel" id="searchRadios2" value="option2">
          <label class="form-check-label" for="searchRadio2">
            Employee Name
          </label>
        </div>
      <div class="form-group">
        <br><input type="submit" class="btn btn-primary" value="search"> <input type="button" class="btn btn-success" value="View All Data" (click)="view_all()"> 
      </div> 
  </form>

  <div class="searchResult" *ngIf="searchRes[0]">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>EMP Id</th>
          <th>Name</th>
          <th>Department</th>
          <th>Salary</th>
          <th>Phone</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let res of searchRes">
        <tr>
          <td>{{res.e_id}}</td>
          <td>{{res.name}}</td>
          <td>{{res.dept}}</td>
          <td>{{res.salary}}</td>
          <td>{{res.contact.phone}}</td>
          <td>{{res.contact.email}}</td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default" (click)="editdata(res.e_id)"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-default" (click)="deletedata(res.e_id)"><i class="fas fa-trash-alt"></i></button> 
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="noresult" *ngIf="visible">
    <h4>No results found</h4>
  </div>
</div>