<nav class="navbar" id="navbar">
  <h2 class="nav-brand" style="color: #585858">Employee Management</h2>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/">Add Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/searchemp">Search Employee</a>
    </li>
  </ul>
</nav>

<div class="main">
  <router-outlet></router-outlet>
</div>

