<div class="content" *ngIf="view">
	<h3>Enter new employee details:</h3><br>
	<form #empForm="ngForm" (ngSubmit)="onSubmit(empForm.value)">
		<div class="form-group">
			<label for="name">Enter name: </label>
			<input id="name" class="form-control" type="text" name="name" ngModel #name="ngModel"> <br>
		</div>

		<div class="form-group">
			<label for="eid">Enter Eid: </label>
			<input id="eid" type="number" class="form-control" name="e_id" ngModel #e_id="ngModel"> <br>
		</div>

		<div class="form-group">
			<label for="dept">Enter department name:</label>
			<input id="dept" class="form-control" type="text" name="dept" ngModel #dept="ngModel"> <br>
		</div>

		<div class="form-group">
			<label for="salary">Enter salary: </label>
			<input id="salary" class="form-control" type="number" name="salary" ngModel #salary="ngModel"> <br>
		</div>

		<h4>Contact:</h4>

		<div class="form-group">
			<label for="email">Enter email: </label>
			<input id="email" class="form-control" type="email" name="email" ngModel #email="ngModel"> <br>
		</div>

		<div class="form-group">
			<label for="phone">Enter phone: </label>
			<input id="phone" class="form-control" type="number" name="phone" ngModel #phone="ngModel"> <br>
		</div>

		<input type="submit" class="btn btn-primary" value="Save">
	</form>
</div>

<div class="content" *ngIf="errormodal">
	<h3>Error adding employee</h3>
	<button class="btn btn-primary" (click)="retry()">Retry</button>
</div>
<div class="content" *ngIf="successmodal">
	<h3>Success adding employee</h3>
	<button class="btn btn-primary" (click)="retry()">Add another employee</button>
</div>


