<div class="content" *ngIf="view">
    <h3>Edit details:</h3><br>
    <form #empForm="ngForm" (ngSubmit)="onSubmit(empForm.value)">
      <div class="form-group">
        <label for="eid">Enter Eid: </label>
        <input id="eid" type="number" disabled class="form-control" name="e_id" [(ngModel)]="formDetails.e_id"> <br>
      </div>    

      <div class="form-group">
        <label for="name">Enter name: </label>
        <input id="name" class="form-control" type="text" name="name" [(ngModel)]="formDetails.name"> <br>
      </div>
  
      <div class="form-group">
        <label for="dept">Enter department name:</label>
        <input id="dept" class="form-control" type="text" name="dept" [(ngModel)]="formDetails.dept"> <br>
      </div>
  
      <div class="form-group">
        <label for="salary">Enter salary: </label>
        <input id="salary" class="form-control" type="number" name="salary" [(ngModel)]="formDetails.salary"> <br>
      </div>
  
      <h5>Contact:</h5><br>
  
      <div class="form-group">
        <label for="email">Enter email: </label>
        <input id="email" class="form-control" type="email" name="email" [(ngModel)]="formDetails.email"> <br>
      </div>
  
      <div class="form-group">
        <label for="phone">Enter phone: </label>
        <input id="phone" class="form-control" type="number" name="phone" [(ngModel)]="formDetails.phone"> <br>
      </div>
  
      <input type="submit" class="btn btn-primary" value="Save">
    </form>
  </div>
  <div class="content" *ngIf="successmodal">
      <div class="success" >
          <h3>Success Editing</h3>
          <button class="btn btn-primary" routerLink="/searchemp">Search Employee</button>
      </div>
  </div>
  <div class="content" *ngIf="errormodal">
      <div class="success" >
          <h3>Error Editing</h3>
          <button class="btn btn-primary" routerLink="/searchemp">Search Employee</button>
      </div>
  </div>
  
  